.btn-row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	padding: 20px 0;
}

.btn {
	--btn-font-color: var(--font-color);
	--btn-bg-color: var(--decor-color);
	--btn-shadow-top: var(--yellow-light);
	--btn-shadow-bottom: var(--yellow-dark);
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
	width: auto;
	min-width: 200px;
	height: 60px;
	font-size: 14px;
	font-weight: 700;
	color: var(--btn-font-color);
	// text-transform: capitalize;
	background: var(--btn-bg-color);
	border-radius: 13px;
	box-shadow: inset 4px 4px 0px 0px var(--btn-shadow-top),
		inset -4px -4px 0px 0px var(--btn-shadow-bottom);
	transition: box-shadow 0.4s ease-in-out;
	cursor: pointer;
	span::first-letter {
		text-transform: capitalize;
	}
	&:hover {
		box-shadow: 4px 4px 0px 0px var(--btn-shadow-top),
			-4px -4px 0px 0px var(--btn-shadow-bottom);
	}
	// &--blue {
	// 	--btn-font-color: var(--white-dark);
	// 	--btn-bg-color: var(--blue-light);
	// 	--btn-shadow-top: var(--purple-light);
	// 	--btn-shadow-bottom: var(--blue);
	// }
	// &--black {
	// 	--btn-font-color: var(--white-dark);
	// 	--btn-bg-color: var(--bg-color);
	// 	--btn-shadow-top: var(--gray);
	// 	--btn-shadow-bottom: #111;
	// }
	// &--medium {
	// 	min-width: 160px;
	// }
	// &--small {
	// 	max-width: 90px;
	// 	min-width: 90px;
	// }
	&__img {
		display: block;
		margin-right: 10px;
		width: 30px;
		height: 30px;
	}
	input[type="submit"] {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 2;
	}
}

.small-btn {
	--btn-font-color: var(--font-color);
	--btn-bg-color: var(--decor-color);
	--btn-shadow-top: var(--yellow-light);
	--btn-shadow-bottom: var(--yellow-dark);
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
	width: auto;
	height: 30px;
	font-size: 12px;
	font-weight: 700;
	color: var(--btn-font-color);
	background: var(--btn-bg-color);
	border-radius: 3px;
	box-shadow: inset 1px 1px 0px 0px var(--btn-shadow-top),
		inset -1px -1px 0px 0px var(--btn-shadow-bottom);
	transition: box-shadow 0.4s ease-in-out;
	cursor: pointer;
	&__info,
	span {
		display: inline-block;
		&::first-letter {
			text-transform: capitalize;
		}
	}
	&:hover {
		box-shadow: 1px 1px 0px 0px var(--btn-shadow-top),
			-1px -1px 0px 0px var(--btn-shadow-bottom);
	}
	// &--blue {
	// 	--btn-font-color: var(--white-dark);
	// 	--btn-bg-color: var(--blue-light);
	// 	--btn-shadow-top: var(--purple-light);
	// 	--btn-shadow-bottom: var(--blue);
	// }
	// &--black {
	// 	--btn-font-color: var(--white-dark);
	// 	--btn-bg-color: var(--bg-color);
	// 	--btn-shadow-top: var(--gray);
	// 	--btn-shadow-bottom: #111;
	// }
	// &--white {
	// 	--btn-font-color: var(--font-color);
	// 	--btn-bg-color: var(--white-dark);
	// 	--btn-shadow-top: var(--white);
	// 	--btn-shadow-bottom: var(--gray-light);
	// }
	// &--small {
	// 	padding: 0;
	// 	max-width: 30px;
	// 	width: 30px;
	// 	min-width: 30px;
	// }
	&__img {
		display: block;
		width: 18px;
		height: 18px;
	}
	&--active {
		.small-btn-st0 {
			fill: var(--decor-color);
		}
	}
}
